<div class="top-wrapper">
  <div class="ui-g">
    <div class="ui-g-6">
      <h1>Device Detail</h1>
    </div>
    <div class="ui-g-6">
      <button pButton type="button" routerLink="/devices" class="pull-right ui-button-primary"
              icon="fa fa-chevron-left" label="Back"></button>
    </div>
  </div>
</div>

<div class="wrapper">


  <div class="ui-g">
    <div class="ui-g-12">


      <p-tabView>
        <p-tabPanel header="Device">
          <div class="ui-g">
            <div class="ui-g-12">

              <div class="form-group list clearfix">
                <div class="ui-g">

                  <div class="ui-g-12">

                    <label class="label-text ui-g-2">Uuid</label>
                    <div class="ui-g-10">
                      <strong>{{element?.uuid}}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group list clearfix">
                <div class="ui-g">

                  <div class="ui-g-12">

                    <label class="label-text ui-g-2">Name</label>
                    <div class="ui-g-10">
                      <strong>{{element?.name}}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group list clearfix">
                <div class="ui-g">

                  <div class="ui-g-12">

                    <label class="label-text ui-g-2">Name</label>
                    <div class="ui-g-10">
                      <strong>{{element?.name}}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group list clearfix">
                <div class="ui-g">

                  <div class="ui-g-12">

                    <label class="label-text ui-g-2">Ble code1</label>
                    <div class="ui-g-10">
                      <strong>{{element?.ble_code1}}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="ui-g">

                  <div class="ui-g-12">
                    <label class="label-text ui-g-2">Ble code2</label>
                    <div class="ui-g-10">
                      <strong class="pre clearfix">{{element.ble_code2}}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="ui-g">

                  <div class="ui-g-12">
                    <label class="label-text ui-g-2">Ble code3</label>
                    <div class="ui-g-10">
                      <strong class="pre clearfix">{{element?.ble_code3}}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="ui-g">

                  <div class="ui-g-12">
                    <label class="label-text ui-g-2">Ble code4</label>
                    <div class="ui-g-10">
                      <strong class="pre clearfix">{{element?.ble_code4}}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="ui-g">

                  <div class="ui-g-12">
                    <label class="label-text ui-g-2">Ble code5</label>
                    <div class="ui-g-10">
                      <strong class="pre clearfix">{{element?.ble_code5}}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="ui-g">

                  <div class="ui-g-12">
                    <label class="label-text ui-g-2">creation_date</label>
                    <div class="ui-g-10">
                      <strong class="pre clearfix">{{element?.creation_date}}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="ui-g">

                  <div class="ui-g-12">
                    <label class="label-text ui-g-2">description</label>
                    <div class="ui-g-10">
                      <strong class="pre clearfix">{{element?.description}}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="ui-g">

                  <div class="ui-g-12">
                    <label class="label-text ui-g-2">device_configuration_uuid</label>
                    <div class="ui-g-10">
                      <strong class="pre clearfix">{{element?.device_configuration_uuid}}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="ui-g">

                  <div class="ui-g-12">
                    <label class="label-text ui-g-2">disable_alert_date</label>
                    <div class="ui-g-10">
                      <strong class="pre clearfix">{{element?.disable_alert_date}}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="ui-g">

                  <div class="ui-g-12">
                    <label class="label-text ui-g-2">device_configuration_uuid</label>
                    <div class="ui-g-10">
                      <strong class="pre clearfix">{{element?.device_configuration_uuid}}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="ui-g">

                  <div class="ui-g-12">
                    <label class="label-text ui-g-2">Active</label>
                    <div class="ui-g-10">
                      <strong class="pre clearfix">{{element?.active}}</strong>
                    </div>
                  </div>
                </div>
              </div>

              <div class="form-group clearfix">
                <div class="ui-g">

                  <div class="ui-g-12">
                    <label class="label-text ui-g-2">lastupdate_date</label>
                    <div class="ui-g-10">
                      <strong class="pre clearfix">{{element?.lastupdate_date}}</strong>
                    </div>
                  </div>
                </div>
              </div>


            </div>
          </div>
        </p-tabPanel>
      </p-tabView>


    </div>
  </div>
</div>
