<p-confirmDialog header="Confirmation" acceptLabel="OK" [closable]="false"
                 [style]="{width: '50vw'}"></p-confirmDialog>

<div class="top-wrapper" *ngIf="element">
  <div class="ui-g">
    <div class="ui-g-6">
      <h1 *ngIf="element.uuid">Developer Edit</h1>
      <h1 *ngIf="!element.uuid">New Developer</h1>
    </div>
    <div class="ui-g-6">
      <button pButton type="button" class="pull-right ui-button-primary" icon="fa fa-warning"
              label="Undo"
              (click)="goToList()"></button>

      <ng-container>
        <button pButton type="button" *ngIf="!element.uuid" (click)="save()" icon="pi pi-save"
                [disabled]="!theform.form.valid" label="Save"
                class="pull-right ui-button-secondary"></button>

        <button pButton type="button" *ngIf="element.uuid" class="pull-right ui-button-secondary"
                icon="fa fa-save"
                [disabled]="!theform.form.valid" label="Update" (click)="update()"></button>

        <button pButton type="button" *ngIf="element.uuid" class="pull-right ui-button-danger"
                icon="fa fa-trash"
                [disabled]="!theform.form.valid" label="Delete" (click)="confirmDelete()"></button>
      </ng-container>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="ui-g">
    <div class="ui-g-12">

      <form #theform="ngForm">
        <p-tabView *ngIf="element">
          <p-tabPanel header="Developer Configuration">
            <div class="ui-g">
              <div class="ui-g-12 clearfix">
                <div class="ui-g-12">
                  <div class="form-group clearfix ui-g">
                    <label class="label-text ui-g-3">Username (*)</label>
                    <div class="ui-g-9">
                      <input type="text" pInputText placeholder="Username" id="username" required
                             [(ngModel)]="element.username" name="username" #username="ngModel">

                      <div [hidden]="username.valid || username.pristine"
                           class="alert alert-danger">
                        Username is required!
                      </div>
                    </div>
                  </div>

                  <div class="form-group clearfix ui-g">
                    <label class="label-text ui-g-3">Name (*)</label>
                    <div class="ui-g-9">
                      <input type="text" pInputText placeholder="Name" id="name" required
                             [(ngModel)]="element.name" name="nome" #name="ngModel">

                      <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                        Name is required!
                      </div>
                    </div>
                  </div>

                  <div class="form-group clearfix ui-g">
                    <label class="label-text ui-g-3">Surname (*)</label>
                    <div class="ui-g-9">
                      <input type="text" pInputText placeholder="Surname" id="surname" required
                             [(ngModel)]="element.surname" name="surname" #surname="ngModel">

                      <div [hidden]="surname.valid || surname.pristine" class="alert alert-danger">
                        Surname is required!
                      </div>
                    </div>
                  </div>

                  <div class="form-group clearfix ui-g">
                    <label class="label-text ui-g-3">Tags</label>
                    <div class="ui-g-9">
                      <input type="text" pInputText placeholder="Tags" id="tags"
                             [(ngModel)]="element.tags" name="tags" #tags="ngModel">
                    </div>
                  </div>

                  <div class="form-group clearfix ui-g">
                    <label class="label-text ui-g-3">Biography</label>
                    <div class="ui-g-9">
                      <input type="text" pInputText placeholder="Biography" id="biography"
                             [(ngModel)]="element.biography" name="biography" #biography="ngModel">
                    </div>
                  </div>

                  <div class="form-group clearfix ui-g">
                    <label class="label-text ui-g-3">Last Company</label>
                    <div class="ui-g-9">
                      <input type="text" pInputText placeholder="Last Company" id="lastCompany"
                             [(ngModel)]="element.lastCompany" name="lastCompany"
                             #lastCompany="ngModel">
                    </div>
                  </div>

                  <div class="form-group clearfix ui-g">
                    <label class="label-text ui-g-3">Photo url</label>
                    <div class="ui-g-9">
                      <input type="text" pInputText placeholder="Photo url" id="photo_url"
                             [(ngModel)]="element.photo_url" name="photo_url" #photo_url="ngModel">
                    </div>
                  </div>

                  <div class="form-group clearfix ui-g">
                    <label class="label-text ui-g-3">Birth date</label>
                    <div class="ui-g-9">
                      <!--                      <input type="text" pInputText placeholder="Birth date ex. 19/08/1990" id="birthdate" [(ngModel)]="element.birthdate" name="birthdate" #birthdate="ngModel">-->
                      <p-inputMask inputId="birthdate" mask="99/99/9999"
                                   placeholder="Birth date ex. 19/08/1990"
                                   [(ngModel)]="element.birthdate" name="birthdate"
                                   #birthdate="ngModel"></p-inputMask>
                    </div>
                  </div>

                  {{element | json}}
                </div>
              </div>
            </div>
          </p-tabPanel>
        </p-tabView>
      </form>

    </div>
  </div>
</div>
